@import url('../fonts/fonts.css');

/**
 * Common elements
 */

* { 
    border: 0;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    background-attachment: fixed;
    background-image: url('../img/bgimage.jpg');
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: "FuturaLTBook", Arial, sans-serif;
    font-size: medium;
    line-height: 1.4;
    text-align: center;
}

a {
    color: #b1bf92;
    text-decoration: none;
}

h1 {
    font-family: "EdwardianScrAltITCTT", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 6em;
    padding-bottom: 20px;
}

h2 {
    font-size: 1.7em;
    padding-bottom: 15px;
}

h3 {
    font-size: 1.5em;
    padding-bottom: 8px;
    padding-top: 5px;
}

p {
    font-size: 1.4em;
    padding-bottom: 8px;
}

hr {
    border-bottom:#808080 solid 1px;
    border-top:#1e1e1e solid 1px;
    margin: 60px auto 60px auto;
    width: 90%;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

#content {
    padding-top: 200px;
    padding-bottom: 300px;
}

/**
 * Title bar
 */

.titlebar {
    background-color: black;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    display: block;
    margin: auto;
    width: 70%;
    padding: 10px 0 10px 0;
}

.titlebar .bride-name {
    font-family: 'EdwardianScrAltITCTT';
    font-size: 11em;
    line-height: 100%;
}

.titlebar .groom-name {
    font-family: 'FuturaLTBook';
    font-size: 5em;
    line-height: 100%;
}

.titlebar .wedding-date {
    font-family: 'FuturaLTBook';
    font-size: 2.5em;
    margin-bottom: 20px;
    margin-top: 15px;
}

/**
 * Menu
 */

.menu {
    background-color: #333;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    text-align: center;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    color: white;
    display: block;
    padding: 15px 30px;
    text-decoration: none;
}

.menu ul li a:hover {
    background: #b1bf92;
    color: #fff;
    outline: none;
    text-decoration: none;
}

.menu ul li a.active {
    background: #b1bf92;
    color: #fff;
    outline: none;
    text-decoration: none;
}

/**
 * Topic container
 */

.topic-wrapper {
    margin: auto;
    padding-top: 200px;
    width: 80%;
}

.topic-wrapper section {
    background-color: black;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 40px 40px 70px 40px;
    text-align: left;

    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

/**
 * Wizard form
 */

.wizard-form input {
    vertical-align: middle;
}

.wizard-form input[type='text'] {
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    margin: 8px 0;
    padding: 12px 20px;
    text-align: center;
    width: 100%;
}

.wizard-form input[type='radio'] {
    float: left;
    margin: 3px 6px;
}

.wizard-form button {
    background-color: white;
    border-radius: 8px;
    border: none;
    color: black;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    text-align: center;
    text-decoration: none;
    width: 100%;

    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

.wizard-form button:hover {
    background-color: #b1bf92;
    color: white;
}

/**
 * Alerts
 */

.alert-error {
    background-color: red;
    color: white;
    margin-bottom: 15px;
    padding: 7px;
}

.alert-success {
    background-color: green;
    color: white;
    margin-bottom: 15px;
    padding: 7px;
}

.alert-closebtn {
    color: white;
    cursor: pointer;
    float: right;
    font-size: 22px;
    font-weight: bold;
    line-height: 20px;
    margin-left: 15px;
    transition: 0.3s;
}

/**
 * Tooltips
 */

.tooltip {
    border-bottom: 1px dotted white;
    display: inline-block;
    position: relative;
}

.tooltip .tooltiptext {
    background-color: #555;
    border-radius: 5px;
    bottom: 125%;
    left: 0;
    opacity: 0;
    padding: 5px;
    position: absolute;
    text-align: center;
    transition: opacity 1s;
    visibility: hidden;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    opacity: 1;
    visibility: visible;
}

/**
 * Google Maps
 */

#gmap {
    margin: 5px 0 10px 0;
    text-align: center;
}

#gmap iframe {
    border: 0;
    width: 500px;

    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

#gmap small a,
#gmap small a:active,
#gmap small a:visited {
    color: #b1bf92;
    outline: none;
    text-decoration: none;
}

#gmap small a:hover {
    color: #b1bf92;
    outline: none;
    text-decoration: underline;
}

/**
 * Misc
 */

img.thumbnail {
    background-color: black;
    border: 4px solid #090909;
    float: left;
    height: 120px;
    margin-bottom: 0;
    margin-right: 10px;
    width: auto;

    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

img.large-image {
    border: 10px solid #090909;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    max-width: 50%;

    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

img.location-image {
    border: 10px solid #090909;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;

    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.credits {
    font-size: 0.5em;
}

/**
 * Grid (obtained from https://github.com/dhg/Skeleton)
 */

.container {
  margin: auto;
  padding: 0 20px;
}

.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both;
}

.column,
.columns {
    width: 100%;
    float: left;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
    .container {
        padding: 0;
    }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
    .column,
    .columns {
        margin-left: 4%;
    }

    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }

    .one.column                     { width: 4.66666666667%; }
    .two.columns                    { width: 13.3333333333%; }
    .three.columns                  { width: 22%;            }
    .four.columns                   { width: 30.6666666667%; }
    .five.columns                   { width: 39.3333333333%; }
    .six.columns                    { width: 48%;            }
    .seven.columns                  { width: 56.6666666667%; }
    .eight.columns                  { width: 65.3333333333%; }
    .nine.columns                   { width: 74.0%;          }
    .ten.columns                    { width: 82.6666666667%; }
    .eleven.columns                 { width: 91.3333333333%; }
    .twelve.columns                 { width: 100%; margin-left: 0; }

    .one-third.column               { width: 30.6666666667%; }
    .two-thirds.column              { width: 65.3333333333%; }

    .one-half.column                { width: 48%; }

    /* Offsets */
    .offset-by-one.column,
    .offset-by-one.columns          { margin-left: 8.66666666667%; }
    .offset-by-two.column,
    .offset-by-two.columns          { margin-left: 17.3333333333%; }
    .offset-by-three.column,
    .offset-by-three.columns        { margin-left: 26%;            }
    .offset-by-four.column,
    .offset-by-four.columns         { margin-left: 34.6666666667%; }
    .offset-by-five.column,
    .offset-by-five.columns         { margin-left: 43.3333333333%; }
    .offset-by-six.column,
    .offset-by-six.columns          { margin-left: 52%;            }
    .offset-by-seven.column,
    .offset-by-seven.columns        { margin-left: 60.6666666667%; }
    .offset-by-eight.column,
    .offset-by-eight.columns        { margin-left: 69.3333333333%; }
    .offset-by-nine.column,
    .offset-by-nine.columns         { margin-left: 78.0%;          }
    .offset-by-ten.column,
    .offset-by-ten.columns          { margin-left: 86.6666666667%; }
    .offset-by-eleven.column,
    .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

    .offset-by-one-third.column,
    .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

    .offset-by-one-half.column,
    .offset-by-one-half.columns     { margin-left: 52%; }
}

/**
 * Media queries
 */

/* Desktop */
@media (max-width: 1000px) {
    h1 {
        font-size: 4.8em;
    }

    .titlebar .bride-name {
        font-size: 8.8em;
    }

    .titlebar .groom-name {
        font-size: 4em;
    }

    .titlebar .wedding-date {
        font-size: 2.5em;
    }
}

/* Tablet */
@media (max-width: 900px) {
    /* Hide the menu if running on a device with screen smaller than its width */
    nav {
        display: none
    }
}

/* Phablet */
@media (max-width: 600px) {
    body {
        background-image: url('../img/bgimage-mobile.jpg');
        background-size: 140%;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1em;
    }

    h3 {
        font-size: 0.9em;
        padding-bottom: 6px;
    }

    p {
        font-size: 0.8em;
        padding-bottom: 6px;
    }

    .titlebar .bride-name {
        font-size: 4em;
    }

    .titlebar .groom-name {
        font-size: 2em;
    }

    .titlebar .wedding-date {
        font-size: 1.5em;
    }

    .topic-wrapper {
        width: 90%;
    }

    .topic-wrapper section {
        padding: 10px 10px 30px 10px;
    }

    img.large-image {
        max-width: 75%;
    }

    #gmap iframe {
        border: 0;
        width: 220px;
    }
}

/* Phone */
@media (max-width: 400px) {
    body {
        background-size: 360%;
    }
}
